
@{
    ViewBag.Title = "MyRestaurants";
    Layout = "~/Views/Shared/_InnerRestaurant.cshtml";
}


    @model IEnumerable<ZeroHunger.DTOs.RegisteredRestaurantDTO>

    <h2>My Restaurants</h2>


    <table>
        <thead>
            <tr>
                <th>Restaurant ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(restaurant.Id.ToString(), "Donate", "Restaurant", new { restaurantId = restaurant.Id }, null)
                    </td>
                    <td>
                        @Html.ActionLink(restaurant.RestaurantName, "Donate", "Restaurant", new { restaurantId = restaurant.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>

